.blogcard {
	max-width: 100%;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 2px;
	border: 1px solid #d3d3d3;
	box-shadow: 0 10px 6px -6px rgba(0, 0, 0, .1);
	background: white;
	color: #333
}

.blogcard-content {
	margin-bottom: 5px;
	overflow: hidden
}

.blogcard-image {
	width: 100px;
	height: 100px;
	display: inline-block;
	float: right;
	margin: 0 0 5px 5px
}

.blogcard-image-wrapper {
	width: 100px;
	height: 100px;
	display: inline-block
}

.blogcard-image-wrapper img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: center center
}

.blogcard-title {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.4
}

.blogcard-title a {
	color: #3d3f44;
	word-break: break-all
}

.blogcard-title a:hover {
	text-decoration: underline
}

.blogcard blockquote {
	position: static;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent
}

.blogcard blockquote::before, .blogcard blockquote::after {
	content: none
}

.blogcard-description {
	font-size: 13px;
	line-height: 1.5
}

.blogcard-footer {
	font-size: 12px
}

.blogcard-footer a {
	color: #9aa5ab;
	text-decoration: underline
}

.blogcard-footer a img {
	margin-right: 5px
}